//Modern border-box applied everywhere.
html {
    box-sizing: border-box;
  }
  
  // inherit box-sizing
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html,header, footer, body, nav, div, img, a,ul, li, h1, h2{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $sans;
  line-height: 1;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.block {
  display: block;
}
.italic {
  font-style: italic;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.serif {
  font-family: $serif;
}
.sans {
  font-family: $sans;
}
h1,h2,h3 {
  margin: 0;
}
