

  .article-body{
    @include respond-to('small'){
        grid-row: 2 / 3;
        grid-column: 3 / 6;
        align-self: center;
        padding-left: 20px;
    }
    @include respond-to('medium'){
        grid-row: 2/3;
        grid-column: 8/11;
    }
    @include respond-to('large'){
        grid-row: 2/3;
        grid-column: 9/11;
        align-self: flex-start;
    }
}